GizMeteoWpf/GizMeteoWpf/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GizMeteoWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GizMeteoWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCityWether">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityWether" nillable="true" type="tns:CityWether" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityWether" nillable="true" type="tns:ArrayOfCityWether" />
  <xs:complexType name="CityWether">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityWether" nillable="true" type="tns:CityWether" />
</xs:schema>